:root {
  --dark-body-bg: #232429;
  --light-body-bg: #F5F7FB;
  
  --dark-input: #323741;
  --light-input: #ffffff;
  
  --dark-border: #484D5A;
  --light-border: #B8BCCB;
  
  --dark-inactive-list: #A2AABE;
  --light-inactive-list: #7C8294;
  
  --dark-active-list: #ffffff;
  --light-active-list: #1C5EFF;
  
  --dark-list-hover: #2A2E34;
  --light-list-hover: #E9EFFF;
  
  --dark-toggle-bg: #1B1D22;
  --light-toggle-bg: #ffffff;
  
  --dark-toggle-moon: #C4C4C4;
  --dark-toggle-sun: #656B77;
  
  --light-toggle-moon: #7A849B;
  --light-toggle-sun: #ffffff;
}

body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
  background: var(--dark-body-bg); 
}

body.light {
  background: var(--light-body-bg); 
}

form {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 25%;
/*   background: pink; */
}

label {
  display: block;
  color: #8A8F9F;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  color: var(--dark-active-list);  
}

body.light input {
  color: var(--light-active-list);  
}

/* Common styles to keep DRY */
input, 
#languages span {
  font-size: 1.2rem; 
}

input,
.languages_wrapper {
  border: 2px solid var(--dark-border);
  border-radius: 15px;
  box-sizing: border-box;
  background: var(--dark-input);
}

body.light input,
body.light .languages_wrapper {
  border: 2px solid var(--light-border);
  background: var(--light-input);
}

/* ***** */

input::placeholder {
  color: var(--dark-inactive-list);
  opacity: .7;
  letter-spacing: .05rem;
}

body.light input::placeholder {
  color: var(--light-inactive-list);
}

/* input::-webkit-calendar-picker-indicator {
  display:none !important;
} */

.dropdown {
  position: relative;
/*   background: salmon; */
}

.dropdown:after {
  content: "▾";
  padding: 12px 15px;
  position: absolute;
  right: 5px;
  top: 8px;
  color: var(--dark-active-list);
}

body.light .dropdown:after {
  color: var(--light-active-list);
}

.dropdown.active:after {
  transform: rotate(180deg);
}

/* 
* Dropdown list custom design 
*/

.dropdown_wrapper {
/*   background: pink; */
  padding-top: 8px;
  height: 250px;
  display: none;
}

.dropdown_wrapper.active {
  display: block;
}

.languages_wrapper {
  overflow-y: hidden;
  height: 100%;
  padding: 8px;
  padding-right: 0;
  background: var(--dark-input);
}

body.light .languages_wrapper {
  background: var(--light-input);
}

#languages {
  overflow-y: auto;
  height: inherit;
}


#languages span {
  display: block;
  padding: 12px;
  border-radius: 15px;
  letter-spacing: .025rem;
  color: var(--dark-inactive-list); 
}

#languages span:hover {
  background: var(--dark-list-hover);
  color: var(--dark-active-list);
  cursor: pointer;
}

body.light #languages span {
  color: var(--light-inactive-list); 
}

body.light #languages span:hover {
  background: var(--light-list-hover);
  color: var(--light-active-list);
}

/* 
* 
* Switch styles
* W3Schools => https://www.w3schools.com/howto/howto_css_switch.asp
* 
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  top: 15%;
  left: 60%;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-toggle-bg);
  border: 2px solid var(--dark-border);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background: var(--dark-input);
  -webkit-transition: .4s;
  transition: .4s;
}

body.light .slider {
  background-color: var(--light-toggle-bg);
  border: 2px solid var(--light-border);
}

body.light .slider:before {
  background: var(--light-active-list);
}

/* input:checked + .slider {
  background-color: white;
} */

/* input:checked + .slider:before {
  background-color: #2196F3;
} */

/* input:checked + .slider .fa-moon {
  visibility: hidden;
}

input:checked + .slider .fa-sun {
  visibility: visible;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-solid {
  font-size: 18px;
  position: absolute;
  top: 21.6%;
/*   color: white; */
}

.fa-moon {
  left: 15.6%;
  color: var(--dark-toggle-moon);
}

.fa-sun {
  left: 58%; 
  color: var(--dark-toggle-sun);
}

body.light .fa-moon {
  color: var(--light-toggle-moon);
}

body.light .fa-sun {
  color: var(--light-toggle-sun);
}